.#*
/*.plt
/.deps_plt
/.eunit
/.rebar
/_build/
/bin
/deps
/doc/*.html
/doc/edoc-info
/doc/erlang.png
/doc/stylesheet.css
/ebin
/erl_crash.dump
/logs
/test/*.beam
/test/dialyzer_warnings
/test/elvis
/test/elvis_warnings
