%%-*- mode: erlang -*-
{erl_opts, [ {platform_define, "^R[0-9]+", erlang_deprecated_types}
             %% , warn_export_all
           , warn_export_vars
           , warn_obsolete_guard
           , warn_shadow_vars
           , warn_untyped_record
           , warn_unused_function
           , warn_unused_import
           , warnings_as_errors
           , warn_unused_record
           , warn_unused_vars
           ]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{xref_checks, [ fail_on_warning
              , undefined_function_calls
              , deprecated_function_calls
              ]}.
{eunit_opts, [ verbose
             , { report
               , {eunit_surefire, [{dir, "."}]}
               }]}.
{ deps
, [ { jsx
    , "~>2.8.0"
    }
  ]}.

{profiles,
 [
  {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.4"}}}]}]}
 , {test, [{erl_opts, [{d, 'COMMON_TEST'}, debug_info]}]}
 ]}.

{escript_name, "jesse"}.
{escript_emu_args, "%%! -noinput\n"}.
{escript_incl_apps, [ erts
                    , kernel
                    , stdlib
                    , jsx
                    ]}.
