%%-*- mode: erlang -*-
{lib_dirs,[ ".."
          , "deps"
          ]}.
{erl_opts, [ {platform_define, "^R[0-9]+", erlang_deprecated_types}
             %% , warn_export_all
           , warn_export_vars
           , warn_obsolete_guard
           , warn_shadow_vars
           , warn_untyped_record
           , warn_unused_function
           , warn_unused_import
           , warnings_as_errors
           , warn_unused_record
           , warn_unused_vars
           , nowarn_export_all
           ]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{xref_checks, [ fail_on_warning
              , undefined_function_calls
              , deprecated_function_calls
              ]}.
{eunit_opts, [ verbose
             , { report
               , {eunit_surefire, [{dir, "."}]}
               }]}.
{ deps
, [ { jsx
    , ".*"
    , { git, "git://github.com/talentdeficit/jsx.git"
      , {tag, "2.9.0"}
      }
    }
  , { rfc3339
    , ".*"
    , { git, "git://github.com/andreineculau/rfc3339.git"
      , {tag, "0.2.1-r15-compat"}
      }
    }
  ]}.
{escript_name, "bin/jesse"}.
{escript_emu_args, "%%! -noinput\n"}.
{escript_incl_apps, [ erts
                    , kernel
                    , stdlib
                    , jsx
                    , rfc3339
                    ]}.
